.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;

  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
}
.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    background: #0f172a;
    position: absolute;
    top: 60px;
    right: 30px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  .nav-links.open {
    display: flex;
  }
}

.products {
  padding: 40px 20px;
}

.products h2 {
  text-align: center;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #1a73e8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cart {
  background: #ffffff;
  padding: 30px 20px;
  margin: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item span {
  font-size: 16px;
}
